<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <style>
    h2 {
  margin: 2rem;
}

h3 {
  margin: 2rem;
}
ul {
  /* margin: 2rem 0 4rem; */
  /* padding: 0; */
  
}
li {
  /* display: block; */
  /* margin: 0; */
}
a {
  color: #42b983;
}

p {
  font-size: 1.6rem;
}
  </style>
  <div>
    <h1 style="margin: 6rem 0 6rem;">please check back soon</h1>
    <h1>I am learning Vue</h1>
    <h2>along with its friends</h2>
    <h3>plus I'm self-hosting on a VPS</h3>
    <h3>altogether I guess I'm using/learning</h3>
    <ul>
      <li>Vue stuff
        <ul>
          <li>Vue proper (the logo is a nice shade of green)</li>
          <li>Vue Router (how are there so many features in this)</li>
          <li>Vuex probably (although Redux gave me enough problems)</li>
          <li>Vue CLI (was not expecting a dope UI here)</li>
          <li>Vetur (a/the VS code extension)</li>
        </ul>
      </li>
      <li>hosting
        <ul>
          <li>setting up a VPS and Arch and ssh and all (done this plenty before tho)</li>
          <li>nginx (cannot believe I got this to actually work even a little, idk why)</li>
          <li>certbot (with sweet nginx plugin)</li>
        </ul>
      </li>
    </ul>
  </div>
</body>
</html>